<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!-- Footer Section -->
<footer class="footer_section bg-dark text-white py-4">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h5>Contact Us</h5>
        <p>Email: bitcocom@empas.com</p>
      </div>
      <div class="col-md-4">
        <h5>Follow Us</h5>
        <p>Facebook | LinkedIn | Instagram</p>
      </div>
      <div class="col-md-4">
        <h5>Opening Hours</h5>
        <p>Everyday: 10 AM - 10 PM</p>
      </div>
    </div>
    <div class="text-center pt-3">
      &copy; <span id="displayYear"></span> All Rights Reserved By Park Mae Il
    </div>
  </div>
</footer>
</html>
