<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<!-- Header Section -->
<header class="header_section bg-dark text-white py-3">
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-dark">
            <a class="navbar-brand" href="#">
                Book ERP System
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                   <span sec:authorize="isAuthenticated()">
                    <li class="nav-item">
                        <span th:text="${#authentication.principal.username}">성공한 회원의 email</span>
                    </li>
                    <li class="nav-item">
                        <span th:each="auth : ${#authentication.authorities}" th:text="${auth.authority}"></span>
                    </li>
                   </span>
                    <li class="nav-item">
                        <a class="nav-link" href="/">Home</a>
                    </li>
                    <span>
                    <li class="nav-item">
                        <a class="nav-link" href="/register">Register</a>
                    </li>
                    </span>
                    <span sec:authorize="!isAuthenticated()">
                    <li class="nav-item">
                        <a class="nav-link" href="/login">Login</a>
                    </li>
                    </span>
                    <span sec:authorize="isAuthenticated()">
                    <li class="nav-item">
                        <a class="nav-link" href="/profile">Profile</a>
                    </li>
                    </span>
                    <span sec:authorize="isAuthenticated()">
                    <li class="nav-item">
                        <a class="nav-link" href="/logout">Logout</a>
                    </li>
                    </span>
                    <span sec:authorize="hasRole('ROLE_ADMIN')">
                    <li class="nav-item">
                        <a class="nav-link" href="/admin">Admin</a>
                    </li>
                    </span>
                    <span sec:authorize="hasAuthority('ACCESS_ADMIN_PANEL')">
                    <li class="nav-item">
                        <a class="nav-link" href="/admin">Admin</a>
                    </li>
                    </span>
                    <span sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_EDITOR')">
                    <li class="nav-item">
                        <a class="nav-link" href="/editor">Editor</a>
                    </li>
                    </span>
                </ul>
            </div>
        </nav>
    </div>
</header>
</html>
