<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments/head :: head"></head>
<script>
    function deletePost(id){
      fetch("http://localhost:8081/posts/del/"+id)
      .then(response=>{
          if(response.ok){
            alert("삭제되었습니다.");
            location.href="/";
          }else{
            alert("삭제실패.");
          }
       })
      .catch(error=>{
         console.log(error);
      });
    }
</script>
<body class="sub_page">

<!-- Hero Section -->
<div class="hero_area">
  <header th:replace="fragments/header :: header"></header>
</div>

<!-- About Section -->
<section class="about_section py-5">
  <div class="container">
    <h2 class="mb-4">Post List</h2>
    <div th:each="post : ${posts}">
           <h5 th:text="${post.title}">Title</h5>
           <p th:text="${post.body}">Body</p>
           <form th:action="@{/posts/delete/{id}(id=${post.id})}" method="post">
            <span sec:authorize="isAuthenticated()">
              <button type="submit" th:if="${#authentication.principal.account.id == post.account.id}" class="btn btn-sm btn-danger">삭제</button>
            </span>
           </form>

            <span sec:authorize="isAuthenticated()">
              <button type="button" th:onclick="deletePost([[${post.id}]])"
                      th:if="${#authentication.principal.account.id == post.account.id}"
                      class="btn btn-sm btn-danger">삭제</button>
            </span>
        <hr/>
    </div>
  </div>
</section>

<!-- Footer Section -->
<footer th:replace="fragments/footer :: footer"></footer>

<!-- Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<script>
  document.getElementById('displayYear').textContent = new Date().getFullYear();
</script>
</body>

</html>
