<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head"></head>

<body class="sub_page">

<!-- Hero Section -->
<div class="hero_area">
  <header th:replace="fragments/header :: header"></header>
</div>

<!-- About Section -->
<section class="about_section py-5">
  <div class="container">
    <h2 class="mb-4">Register Form</h2>
    <form
          th:action="@{/register}"
          th:object="${account}"
          method="post">
      <div class="row mb-3">
        <label for="email" class="col-sm-2 col-form-label">Email</label>
        <div class="col-sm-10">
          <input type="email" class="form-control" id="email" th:field="*{email}">
        </div>
      </div>
      <div class="row mb-3">
        <label for="password" class="col-sm-2 col-form-label">Password</label>
        <div class="col-sm-10">
          <input type="password" class="form-control" id="password" th:field="*{password}">
        </div>
      </div>
      <div class="row mb-3">
        <label for="firstname" class="col-sm-2 col-form-label">Firstname</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="firstname" th:field="*{firstname}">
        </div>
      </div>
      <button type="submit" class="btn btn-primary">Register</button>
    </form>
  </div>
</section>

<!-- Footer Section -->
<footer th:replace="fragments/footer :: footer"></footer>

<!-- Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<script>
  document.getElementById('displayYear').textContent = new Date().getFullYear();
</script>
</body>

</html>
